<h1>Welcome to Boords!</h1>
<% referral = params[:r] %>
<% referred_by = User.find_by(referral_token: referral) %>
<h2>You've been referred by <%= referred_by.fullname %></h2>

<h3>Leave your contact details below</h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname %>
    <%= f.text_field :fullname %>
  </div>

  <!-- <div class="field">
    <%#= f.label :username %>
    <%#= f.text_field :username %>
  </div> -->

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.hidden_field :r, :value => params[:r] %>
  </div>

  <div class="actions">
    <%= f.submit 'Join Boords' %>
  </div>
<% end %>

